@import 'breakpoints';

/// Reset <ul> and <li> or <ol> elements
///
/// ## Usage
/// ```scss
/// ul {
///   @include list-rest;
///
///   li {
///     ... more styles
///   }
///
/// }
/// ```
@mixin list-reset {
  margin: 0;
  padding: 0;

  li,
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

@mixin flex($items: center, $content: center, $text: left) {
  display: flex;
  align-items: $items;
  justify-content: $content;
  text-align: $text;
}

@mixin breakpoints-value(
  $element,
  $default,
  $sm: '',
  $md: '',
  $lg: '',
  $xl: ''
) {
  #{element}: $default;

  @if $sm != '' {
    @include breakpoint(sm) {
      #{$element}: $sm;
    }
  }

  @if $md != '' {
    @include breakpoint(md) {
      #{$element}: $md;
    }
  }

  @if $lg != '' {
    @include breakpoint(lg) {
      #{$element}: $lg;
    }
  }

  @if $xl != '' {
    @include breakpoint(sm) {
      #{$element}: $sm;
    }
  }
}
