/* --- Fonts --- */
$font-sans: 'Inter var', 'Inter', 'Roboto', 'Noto Sans', 'Segoe UI', system-ui,
  -apple-system, sans-serif;
$font-serif: ui-serif, 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
$font-mono: 'JetBrains Mono', 'Cascadia Code', 'Cascadia Code PL', 'Fira Code',
  'Consolas', 'Liberation Mono', 'Menlo', monospace;
$font-default: $font-sans;

/* --- Colors --- */
$color-primary: #653bb7;
$color-primary-2: #424eb4;
$color-secondary: #439dd7;
